<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lavadero de Autos</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Ocultar la flecha del dropdown */
        .dropdown-toggle::after {
            display: none; /* Oculta la flecha */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Lavadero de Autos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="Boton_Regresar" role="button" aria-haspopup="true" aria-expanded="false">
                        Regresar al menú
                    </a>                    
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h2>Registrar Vehículo</h2>
        <form method="post" action="{% url 'insertar_vehiculo' %}">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="marca">Marca:</label>
                {{ form.marca }}
            </div>

            <div class="form-group">
                <label for="v_ident">Placa:</label>
                {{ form.v_ident }}
            </div>

            <div class="form-group">
                <label for="soat">SOAT:</label>
                {{ form.soat }}
            </div>

            <div class="form-group">
                <label for="tipo">Tipo:</label>
                {{ form.tipo }}
            </div>

            <div class="form-group">
                <label for="vias_frecuentes">Vías Frecuentes:</label>
                {{ form.vias_frecuentes }}
            </div>

            <div class="form-group">
                <label for="combustible">Combustible:</label>
                {{ form.combustible }}
            </div>

            <div class="form-group">
                <label for="transmision">Transmisión:</label>
                {{ form.transmision }}
            </div>

            <button type="submit" class="btn btn-primary">Insertar</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>